/* centralizar do o conteúdo na página e remover os  espaços entre as DIV  */
*{margin:0px;
padding:0px;
}

body {
  background-image:url(../img/background.png); 
  background-repeat:repeat;
}

/* começo navbar */
.navbar ul {
  background-color: #444;
  text-align: center;
  padding: 0 0 20px 0;
}

.navbar li {
  display: inline-block;
  margin: 0 20px 0 20px;
}
  
.navbar a {
  font-size: 1.4em;	
  color: #FFF;
  transition: .3s background-color;
}
 
.navbar a:hover {
  background-color: #4C8BF5; /*cor fundo efeito navbar */
}
 
.navbar li a, .dropbtn {
  padding: 12px 25px;
  text-decoration: none;
}
  
header img{
  width: 10%;  
}

@media only screen and (max-width: 818px) {
  .navbar li,ul,a{
	font-size:0.74em;	
    text-align: auto;
	margin: auto;	
	padding: auto;	
  }

}
/* fim navbar*/
/*conteudo flex*/
.flex{
	display: flex;
	flex-flow:wrap;
	height:100vh;
	width:100vw;
}
.flex > *{
	background-color: lightgray;
	margin:10px;
	padding:10px;
	box-sizing: border-box;
	border-radius:10px;
	flex: 1 1 calc(100vh / 1 - 60px);
	max-width: calc(100vw - 260px);
}
.flex footer{
	max-width: 100px;
	flex: 1 1 calc(100vh - 20px);
}
/* Termina aqui o conteúdo -------------------------------------------------------------------------------------------------------------------------------------------------------- */
footer{
	background-color: #444;
	height:75px;
}

footer p{
	position:absolute;
	margin-top:4%;
	margin-left:58%;
	color:#FFF;
}

/*--fim--*/