body,h1,h2,h3{font-family: "Lato", sans-serif;}
body, html {
	height: 100%;
	color: #777;
	line-height: 1.9;
	margin:0;
	-webkit-text-size-adjust:100%;
	box-sizing:border-box;
}
*,*:before,*:after{box-sizing:inherit}

/* ----------------------------------nav bar inicio------------------------ */
.w3-dropdown-hover:hover .w3-dropdown-content{display:block}/*--ativa caixa mais--*/
.w3-dropdown-content{
	cursor:auto;
	color:#000;
	background-color:#fff;
	display:none;
	position:absolute;
	min-width:160px;
	z-index:1;
}
.w3-btn,.w3-button{
	border:none;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
}
.w3-center.w3-bar, .w3-bar-item{
	display:inline-block;
	float:left;
	width:auto;
	border:none;
	overflow:hidden;
}
.w3-bar .w3-dropdown-hover, .w3-dropdown-click{
	position:static;
	float:left;
}
.w3-bar-block .w3-bar-item{
	width:100%;
	display:block;
	padding:8px 16px;
	text-align:left;
	white-space:normal;
}
.navBar,.w3-bottom{
	position:fixed;
	width:100%;
	z-index:1;
	top:0;
}
.w3-hide{display:none}/*--menu lateral--*/
.w3-show-block,.w3-show{display:block;}
.w3-padding-large{padding:12px 24px;}
.w3-right{float:right;}
.w3-black,.w3-hover-black:hover{color:#fff;background-color:#000;} /*--cor da barra do navbar--*/
/* ----------------------------------nav bar fim------------------------ */

/* ----------------------------------ajuste images inicio----------------------- */
.sImagem{
  width:85%;
}
.sMeImagem{
  width:85%;
  transform: rotate(-90deg);
}
/*efeito das imgs nas transicoes de sections */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* 1 img (Logo. Full height) */
.bgimg-1 {
  background-image: url(../img/home.jpg);
  min-height: 100%;
}
.w3-display-middle{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%)
}
/* 2 img (Portfolio) */
.bgimg-2 {
  background-image: url(../img/port.png);
  min-height: 400px;
}
/*3 img (Contact) */
.bgimg-3 {
  background-image: url(../img/contato.jpg);
  min-height: 400px;
}	
/* desativa parallax scrolling (telas menores que 1600px)*/
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
/* ----------------------------------ajuste images fim----------------------- */

/* ----------------------------------responsivo inicio----------------------- */
.w3-row-padding{
	margin:1% -1.8% 0.8% -1.8%;
}
@media (min-width:601px){
	.w3-col.m3,.w3-quarter{width:24.99999%!important;}
	.w3-col.m6,.w3-half{width:49.99999%;}
}
@media (min-width:993px){
	.w3-modal-content{width:900px;}
	.w3-hide-large{display:none;}
	.w3-sidebar.w3-collapse{display:block;}
	}
@media (max-width:600px){
	.w3-modal-content{
		margin:0 10px;
		width:auto;
	}
	.w3-hide-small{display:none!important;}
	.w3-modal{padding-top:50px;}
	.w3-dropdown-hover .w3-btn,.w3-dropdown-click, .w3-btn,.w3-dropdown-click .w3-button{width:100%;}
}	
@media (max-width:600px){
	.w3-modal-content{margin:0 10px;width:auto!important}
	.w3-modal{padding-top:30px}
	.w3-modal-content{width:500px}
	.w3-modal{padding-top:50px}
	.w3-dropdown-hover .w3-btn,.w3-button,.w3-dropdown-click,.w3-dropdown-click.w3-btn,..w3-button{width:100%}
}
@media (max-width:992px){
	.w3-sidebar.w3-collapse{display:none;}
	.w3-main{margin-left:0;margin-right:0;}
	.w3-auto{max-width:100%;}
}
@media (max-width:992px) and (min-width:601px){
	.w3-hide-medium{display:none;}
}


/* ----------------------------------responsivo fim----------------------- */

/*ajustes dentro das secoes */
.w3-content{max-width:950px}
.w3-content,.w3-auto{margin-left:auto;margin-right:auto}
.w3-auto{max-width:1140px}
.w3-opacity-min{opacity:0.75}
.w3-display-container{position:relative}
.w3-text{display:none}
.w3-padding-24{padding-top:24px;padding-bottom:24px}
.w3-padding-64{padding-top:64px;padding-bottom:64px}
.w3-padding-16{padding-top:16px;padding-bottom:16px}
.w3-center{text-align:center;}

/* --section transicoes sobre/port-- */
.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{
	color:#fff;
	background-color:#616161;
}
.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{float:left; width:100%;}

/*ajustes*/
.w3-xlarge{font-size:26px;}
.w3-xxlarge{font-size:36px;}
.w3-xxxlarge{font-size:48px;}
.w3-modal{
	z-index:3;
	display:none;
	padding-top:100px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
}
.w3-input{
	padding:1%;
	width:100%;
}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-bar:before,.w3-bar:after{
	content:"";
	display:table;
	clear:both;
}
.w3-opacity,.w3-hover-opacity:hover{opacity:0.60}
.w3-opacity-off,.w3-hover-opacity-off:hover{opacity:1}
.w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}


